In [1]:


def adunare(a, b):
    return a + b

In [2]:
adunare(100, 200)

300

In [3]:
adunare(20, 10)

30

In [4]:
scadere(2, 3)

NameError: name 'scadere' is not defined

In [5]:
x

NameError: name 'x' is not defined

In [6]:

def scadere(a, b):
    return a - b

In [7]:
scadere(20, 10)

10

In [8]:
def functie_generica():
    return 30210

In [9]:
functie_generica()

30210

# First class Functions

In [10]:
x = functie_generica

In [11]:
x ()

30210

In [12]:
a = 10
b = a
print(b)

10

In [13]:
p = print

In [14]:
p

In [15]:
p(20, 30, 40)

20 30 40

In [16]:
print(20, 30, 40)

20 30 40

# Parametri optionali

In [17]:
def suma(*args):
    print(args, type(args))

In [18]:
suma()

() <class 'tuple'>

In [19]:
suma(2, 3, 4)

(2, 3, 4) <class 'tuple'>

In [20]:
suma(2, 3, 4, 4132, 312, 31, 2, 312)

(2, 3, 4, 4132, 312, 31, 2, 312) <class 'tuple'>

In [21]:
def suma(*args, **kargs):
    print(args, type(args))
    print(kargs, type(kargs))

In [22]:
suma(2, 3, 4, 4132, 312, 31, 2, 312)

(2, 3, 4, 4132, 312, 31, 2, 312) <class 'tuple'>
{} <class 'dict'>

In [23]:
suma(2, 3, 4, 4132, 312, 31, 2, 312, a=32, b=54)

(2, 3, 4, 4132, 312, 31, 2, 312) <class 'tuple'>
{'a': 32, 'b': 54} <class 'dict'>