# pip install pandas

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("date_inghetata.csv")
df

     temperatura  vanzari      luna zi_saptamana
0              8       25  ianuarie         luni
1             10       35  ianuarie        marti
2             12       45  ianuarie     miercuri
3             15       55  ianuarie          joi
4             18       75  ianuarie       vineri
..           ...      ...       ...          ...
233           33      168       mai     miercuri
234           35      182       mai          joi
235           37      195       mai       vineri
236           39      208       mai      sambata
237           41      222       mai    duminica

[238 rows x 4 columns]

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df["zi_saptamana"]

0           luni
1          marti
2       miercuri
3            joi
4         vineri
         ...
233     miercuri
234          joi
235       vineri
236      sambata
237    duminica
Name: zi_saptamana, Length: 238, dtype: object

In [6]:
df[["zi_saptamana", "luna"]]

    zi_saptamana      luna
0           luni  ianuarie
1          marti  ianuarie
2       miercuri  ianuarie
3            joi  ianuarie
4         vineri  ianuarie
..           ...       ...
233     miercuri       mai
234          joi       mai
235       vineri       mai
236      sambata       mai
237    duminica        mai

[238 rows x 2 columns]